@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: -1Px;padding-top: -20px;
}

a {
    border-left: 1px solid #959595;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size:16px;  
}
h1,h2,h3,h4,h5,h6,{
	font-family: 'Oswald', sans-serif;
}
section{
	padding:80px 0px;
}
.topbarmain{
	background: #F5F5F5;
	color: #8b5959;
}
.container{
	width: 1020px;
	padding-left:15x;
	/* padding-right: 25px; */
	margin:auto;
	font-size: 17px;
}

.phone {
    width: 242px;
    float:  left;
    padding: 15px;
    margin-top: 1px;
    border-left:1px solid #ddd;
}

.email {
    width: 605px;
    float: left;
    padding: 15px 4px;
    margin-top: 1px;
}
.sociallink{
	width: 137px;
	float:left;
	margin-top: 2px;
	transition:.3s;
}
.sociallink a{
	display:block;
	float:left;
	padding:15px;
	border-right:1px solid #ddd;
	color: #2b2b2b !important;
}
.sociallink i{
	color:#2b2b2b
}
.sociallink a:nth-child(3){
	border-right:2px solid #ddd;
	
}
.phone i {
    padding-left: 15px;

    color: #FF5201 !important;
    color: black;
    border-left: 1px solid #8d8d8d;
    margin-right: 10px;
	cursor:pointer;
}
.email i {
    color: #FF5200 !important;
    padding-left: 7px;
    border-left: 1px solid #666666;
    margin-right: 15px;
 	cursor:pointer;
}


.topbarwraper {
    overflow: hidden;
    height: 47px;
}
.sociallink i:hover{
 color: #FF5200;
		cursor:pointer;
}
ul.mainmenuitem {
    max-width: 100%;
}

.primarywraper {
    width: 1032px;
    height: 68px;
	display: table;
}
.logo{
		
	margin-left: 28px;
			
	display: inline-block;
			
	padding-left:15x;
			
	cursor:pointer;
			

			
	margin-top: 14px;
			
	font-size: 45px;
}
.menu{
	width: 1170px;
	float:left;
}
ul.mainmenuitem{
	list-style:none;
	float:right;
	
}

	
	
ul.mainmenuitem li{
	float:left;
}
ul.mainmenuitem li a{
	text-decoration:none;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 15px;
	display:block;
	padding: 40px 27px 15px;
	color:#0e0e0e;
	font-weight:600px;
	border:none;
	transition:.5s;
	margin: 0px;
}
.menu {
    width: 790px;
    float: right;
    margin-top: -17px;
    word-break: 10px;
   
}

ul.mainmenuitem li a:hover{
	
     color: #FF5200;
	
}
i.fa-solid.fa-magnifying-glass {
    color: black;
}

i.fa-solid.fa-magnifying-glass:hover {
    color: #fb5200;
}
.homeslyder{
	background:url(img/slide-2.jpg);
	background-repeat:no-repeat;
	background-position:100%;
	display: block;
}

.homeslyder h1{
			
color: white;
			
font-size:50px;
			
font-weight: 700;
			
text-transform: uppercase;
			
width: 1000px;
			
padding-top: 138px;
						
padding-bottom: 50px;
} 
.slidercontent{
	width: 587px;
}

.homeslyder p{
	color:white;
	font-weight:600;
	line-height:25px;
	width:490px;
	margin-bottom:30px;
	
}

#slidworkbutton{
	background:#FF5200;
	border-radius:3px;
	margin-bottom:120px;
	border:none;
	padding:15px 25px;
	font-size:16px;
	font-weight:600;
	transition:.3s;
	
} 
#slidworkbutton:hover{
	background:#252525;
	color:Yellow;
	cursor:pointer;
}

.sliderNav  {
	width: 10px;
	height:10px;
	display:block;
	float:left;
	margin-right:10px;
	background: #FF5200;
	border-radius: 100%;
	border:2px solid #ddd;
	text-align:center!important;
	margin-left:500px;
}
#services{
	background:#F5F6F6;
	
}
.amar{
	background:#fb5200;
	color:white;
	
}
.singlebox{
	width:224px;
	background:white;
	float:left;
	margin-right:30px;
	border: 1px solid #e7e0e0;
	transition: 0.3s;
}

.singlebox:hover{
	background:#fb5200;
	color:white ;
	cursor:pointer;
}
.singlebox:hover h2{
	color: white;
}
.singlebox:hover p{
	color: white;
}
.singlebox:hover i{
	color: white;
}
.singlebox:hover a{
	color:white;
	
}
.rohim{
	background:#fb5200;
	color:white;
	
}
.rohim h2{
	color: white !important;
}
.rohim p{
	color: white;
}
.rohim i{
	color: white;
}
.rohim a{
	color:white;
	
}
.sboxtitle{
	text-align:center;
	width:150px;
	margin:auto;
	
}
.sboxtitle h2{
	font-size:20px;
	letter-spacing:-1.1px;
	color:#333;
	line-height:28px;
	text-transform:uppercase;
	margin:25px 0px;
	
}

.sboxicon {
    color: #FF5200;
    text-align: center;
    font-size: 40px;
    padding-top: 28px;
}

.sboxdesc {
    color: #703c3c;
    text-align: center;
    width: 208px;
    margin-bottom: 20px;
}

.sboxlink {
    text-align: center;
    color: #FF5200;
    width: 208px;
    margin-bottom: 24px;
}
a {
    border-left: 1px solid #959595;
    text-decoration: none;
    color: #FF5200;
    margin-bottom: 30px;
	
}
#ourteam{
     margin:284px 0px;
	
	
}
.teamimg{
	width:518px;
	float:left;
	overflow:hidden;
}
.teamimg img{
	width:100%  ;
	transition: .3s!important;
}
.teamimg img:hover {
	transform: scale(1.10)!important;
}

.ourtext {
    float: right;
    width: 470px;
}

h2 {
    font-family: sans-serif;
    font-size: 31px;
    margin-bottom: 20px;
    margin-top: 10px;
}

p {
    font-size: 16px;

    color: #625c5c;
    margin-bottom: 54px;
}
.ouritem {
    font-style: none;
    color: #817d7d;
  
}

ul.ouritemleft {
    font-style: none;
}



ul.ouritemleft {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 239px;
    float: left;

}

ul.ouritemright {
    list-style: none;
  
}

.ouritem li {
    line-height: 52px;
	transition:.3s;
}

.getstartbutton {
    margin-top: 36px;
	transition:.3s;
}
.getstartbutton a{
	color:white;
	background: #fb5200;
	padding:20px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 20px;
    transition: 0.3s;	
}
.getstartbutton:hover a{
	color: white;
    background: #000000ba;
}

.ouritem ul li:hover{
	
	color:#fb5200;

}


.teamcontainer {
    padding-bottom: 195px}
#ourhappy{
	background:linear-gradient(#00000082,#00000082) ,url(img/customerNum.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	
}

.happyconwrap{
	overflow:hidden;
	padding:0px;
}

.happycustomersingle {
    width: 224px;
	float: left;
}

.happycustomersingle{
	color:white;
	text-align:center;
	margin-right: 43px;
}

.happyicons {
    font-size: 42px;
}


.happycustomersingle h4 {
    font-size: 55px;
    font-weight: bold;
    margin: 27px;
}

.happycustomersingle h5 {
    font-size: 17px;
}
.happycustomersingle:last-child {
    margin-right: 0px;
}
#morefromus{
	background:#f5f6f6;
	margin-bottom: 170px;
}
.postTitle {
    text-align: center;
    padding: -4px;
    width: 1025px;
    margin-bottom: 70px;
    font-family: 'Oswald';
}

.postTitle h2 {
    font-size: 45px;
    margin-bottom:10px;
	position:relative;
	padding-bottom:10px;
}
.postTitle h2:after{
	content:"";
	position:absolute;
	bottom:0;
	background:#fb5200;
	width:70px;
	border-bottom:4px solid #fb5200;
	left: 49%;
	transform:translateX(-50%);
}
.postTitle h4 {
	
width: 437px;
	
margin:auto;
	
line-height:25px;
	
font-size:17px;
	
color:#666;
	
display: inline-block;
}

.postlistitem{
	
	overflow:hidden;
}
.postlistitem{
	width: 224px;
	overflow:hidden;
	float:left;
	margin-right: 32px;
}
.pstlistitemimg img{
	width:100%;
}
.pstlistitemimg{
	margin-bottom:20px;
}
.pstlistitemtext p2{
	margin-top:10px;
	color:#666;
	line-height:23px;
}
.pstlistitemtext h2 {
    width: 245px;
    font-size: 17px;
    margin-left: 1px;
}.pstlistitemtext h4 {
    font-size: 1px;
    width: 222px;
    margin-left: 5px;
    color: #8f6b6b;
}

.priceplaneTitile {
    text-align: center;
    font-family: 'Oswald';
    margin-bottom: 50px;
}.priceplaneTitile h2 {
	font-weight: bold;
	font-weight: 100;
	font-weight: bolder;
	font-size: 40px;
	position:relative;

}
.priceplaneTitile h2:after{
	content:"";
	position:absolute;
	bottom:0;
	background:#fb5200;
	width:70px;
	border-bottom:4px solid #fb5200;
	left: 49%;
	transform:translateX(-50%);
	
}
.priceplaneTitile h4 {
  color: #646161;
  font-size: 19px;
  width: 487px;
  text-align: center;
  margin-left: 272px;
  line-height: 31px;
}
.planwrapertitle h2 {
    font-size: 24px;
    font-family: 'Oswald';
}

.planwraper {
    width: 335px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.planwrapertitle h2 {
    font-size: 26px;
}

.planwrapertitle h1 {
    font-size: 54px;
    margin-bottom: 9px;
}

.planwrapertitle span {
    font-size: 30px;
    font-weight: 400;
}
.plansinglewraper ul li {
    list-style: none;
    line-height: 38px;
}

.plansinglewraper ul {
    margin-left: 0px;
    padding-left: 0px;
}

.plansinglewraper i {
    margin-right: 10px;
    color: #fb5200;
}


.planbutton button {
    border: none;
    background: #fb5200;
    color: white;
    padding: 19px 32px;
    border-radius: 5px;
    font-size: 18px;
	transition:.3s
}

.planbutton {
    margin-top: 21px;
    margin-left: 160px;
}

.planbutton button:hover{
	color:white;
	background: #646161;
}
.planwraper{
	display:table;
	
	border-radius: 15px;
}
.planwraper:last-child{
	margin-right:0px;
}

.singplanwraper {
  background: #FFF;
}
.planwraper:first-child {
	
	box-shadow: -6px 9px 31px #645e5e61;
}



.planwraper:last-child{
	box-shadow: -6px 9px 31px #645e5e61;
}

.planwraper:nth-child(2) {
box-shadow: -6px 9px 31px #645e5e61;
}



#ideas {
  margin-top: 426px;
  width: 1355px;
  height: 454px;
  overflow:hidden;
  position:relative;
  text-align: justify;
  position: auto;
  grid: center;
  margin-bottom: -11px;
}
.leftimg{
	background:url(img/idea1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	position:center;
	width:50%;
	float:left;
	height:476px;
	position:absolute;
	overflow: hidden;
	margin-left: 4px;
}
.rightcontent {
  width: 674px;
  float: right;
  background: #222222;
  color: white;
}

.rcntenttitle h1 {
  margin: 45px;
  font-family: inherit;
  font-size: 27px;
  word-spacing: -2px;
}


.rcntenttitle {
  overflow: hidden;
  width: 500px;
}
.rcnticons {
  margin-left: 42px;
}
.rcntenttitle p {
  color: white;
  margin-left: 42px;
  width: 606px;
  margin-top: -10px;
  line-height: 28px;
}
.rcnticons {
  overflow: hidden;

}
.rconttitle {
  padding: 0px;
  margin-bottom: 48px;
  margin-left: 88px;
}
div {
}
.rcnticons i {
  font-size: 50px;
  color: #fb5200;
  float: left;
}
.rconttitle p {
  color: #D8D4D2;
  width: 122px;
  margin: 10px;
  line-height: 25px;
  font-size: 14px;
}

.lefttcntwraper{
	overflow:hidden
}
.rightcntwraper{
	overflow:hidden
}
.rconttitle h1 {
  width: 201px;
  font-size: 20px;
  transition:0.3s;
  cursor:pointer;
}
.lefttcntwraper {
  width: 50%;
  float: left;
}

.rconttitle h1:hover {
color:#fb5200

}

.teamsigleWraper {
    overflow: hidden;
}
.teamsingle{
	width: 229px;
	margin-left: 27px;
	float: left;
}
.teamsingleimg{
	overflow:hidden;
	position:relative;
	
}
.socialicons{
	width: 17%;
	height: 130px;
	position:absolute;
	margin-top: -110px;
	font-size: 25px;
	text-align: center;
	transition:.3s;
	opacity:0
}
.teamsingleimg img{
	width:240px;
	font-size:100%;
	
}

.textteam h2 {
    text-align: center;
    font-size: 27px;
    font-family: 'Oswald';
    font-weight: 400;
    margin-bottom: 2px;
}

.textteam h4 {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    color: #5e4848;
}
.ourteambutton {
    transition: .3s;
}
button.ourteambutton {
    display: grid;
    text-align: center;
    border-radius: 5px;
    margin-left: 41%;
    margin-top: 48px;
    padding: 17px 33px;
    background: black;
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
}
button.ourteambutton:hover{
	color:white;
	background:#fb5200;
	cursor:pointer;
}
socialicons: {
    margin-top: -136px;
	position:absolute;
	
}
.socialicons:first-child{
	color:red!important;
}.socialicons:nth-child(2){
	color: #009eff;
	cursor: pointer;
}
.socialicons:hover {

    margin-top: -56px;
	opacity:1
}
i.fab.fa-facebook {
    color:  #3b5998
}

i.fab.fa-facebook:hover {
    color:  white;
	transition: .100s;
}

i.fab.fa-twitter {
    color: # #00acee;

}
i.fab.fa-twitter:hover {
    color:  white;
	transition: .70s;
}
i.fab.fa-google-plus {
    color: #db4a39;
}
i.fab.fa-google-plus:hover {
    color:  white;
	transition: .50s;
}
i.fab.fa-linkedin {
    color: #0a66c2;
    border-radius: 88px;
}

i.fab.fa-linkedin:hover {
    color:  white;
	transition: .20s;
}
#projects {
    background: #f5f6f6;
}
.obestprojects {
    text-align: center;
}

.obestprojects h2 {
    font-family: 'Oswald';
    font-size: 41px;
    font-weight: 500;
}



.obestprojects p {
    width: 475px;
    color: #7c6b6b;
    margin-left: 27%;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Work Sans';
}
.obestprojects {
    text-align: center;
    
    position: relative;
}
.obestprojects:after {
    content: "";
    width: 7%;
    height: 3%;
    top: 65px;
    left: 470px;
    position: absolute;
    background: #fb5200;
    text-align: center;
}.
.singleprojects {
    width: 303px;
    float: left;
    margin-right: 33px; 
	 
}
.singleprojects {
    width: 307px;
    float: left;
    margin-right: 27px;
    position: relative;
	margin-bottom:27px;
	overflow:hidden;
	transform:.3s;
}
.singleprojects img {
    width: 100%;
    overflow: hidden;
}
.bestwraper {
    margin-left: 49px;
    overflow: hidden;
}


.projectinfo {
    position: absolute;
    bottom: 3px;
}
.singleprojects:nth-child(3) {
    margin-right: 0px;
}
.singleprojects:nth-child(6) {
    margin-right: 0px;
}
.projectinfo{
	position:absolute;
	width: 251px;
	background: linear-gradient(to top,black,#00000003 200px);
	padding: 50px 29px;
	margin-bottom: -62px!important;
    transition: .3s;
}
.projectmeta{
	width:280px;
	margin-bottom:15px;
}
.projectmeta a{
	color:white;
	font-weight:600;
	margin-bottom:10px;
	display:block;
	
}
.projectmeta h3{
	color:white;
	font-weight:600;
	margin-bottom:10px;
	display:block;
	
}
a#learnmore{
	color:white;


}
#learnmore{
	display:block;
	color:white;
	font-weight:500;
	font-size:16px;
	text-decoration:none;
	transform:translateX(-150px);

}
#learnmore i {
	font-size:12px;
	margin-left:10px;
	 
}
.singleprojects:hover .projectinfo {
    margin-bottom: -39px!important;
}
.singleprojects:hover #learnmore{
		transition:.3s;	
		transform:translateX(0px)!important;
		transition-timing-function:cubic-bezier(0.35, -0.47, 0.74, 0.05)!important;

}
.singlenews {
    width: 307px;
    float: left;
    margin-right: 30px;
    border-bottom: 4px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
}

.newsimg img {
    width: 100%;
	transition: 0.3s;
	
}
.newsimg {
    overflow: hidden;
}

.newsimg img:hover {transform: scale(1.10);}
.newswraper {
    overflow: hidden;
}
.newssite {
    padding: 30px;
}

.newssite {
    padding: 30px;
}

.newstitle h2 {font-weight: 600;font-size: 19px;margin-top: 31px;color: #545454;}

.newstitle p {
    color: #777;
    font-size: 15px;
    margin-bottom: 18px;
}
.newscatagory{
	position:relative;
	
}
.newscatagory a {
	color: #777;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    border: none;
    margin-left: 0px;
    margin-left: -6px;
    font-size: 15px;
	
}

.newscatagory:last-child {
    margin-right: 0px;
}
.newstitle {
    margin-top: -10px;
    transition: 0.2s;
}
a#newsreadmore {
    border: none;
    font-size: 16px;
}

a#newsreadmore i {
    margin-left: 12px;
    font-size: 1px;
}
.newscatagory:after {
    content: "";
    width: 25px;
    height: 3px;
    background: #fb5200;
    position: absolute;
    margin-left: -163px;
    margin-top: 10px;
}
.newstitle:hover h2 {
    color: #fb5200;
    cursor: pointer;
}
.newscatagory a:last-child:hover {
    color: #fb5200 !important;
}
#footer {
    background: #1a1a1a;
    color: white;
    width: 100%;
    height: auto;
    margin-top: 200px;
    padding-top: 200px;
}
.copyrightcontainer {
    padding: 30px 0px;
}
.copyrightcontainer .container {
    overflow: hidden;
    border-top: 1px solid;
    color: #8d8d8d;
    padding-top: 30px;
}

.copyrihttext {
    float: left;
    width: 590px;
    display: block;
    color: #ababab;
}

.copyraightMenu {
    width: 420px;
    float: right;
}.copyraightMenu ul {
    list-style: none;
    float: right;
    overflow: hidden;
}


.copyraightMenu li {
    float: left;
    margin-right: 44px;
}
.copyraightMenu ul li a {
    text-decoration: none;
    color: #ababab;
    border: none;
}

.copyrihttext.samin a {
    color: #f80101;
}

a.samin {
    color: #fb5200;
    border: none;
}
.fbox {
    width: 241px;
    float: left;
    margin-right: 20px;
}

.fbox:last-child {
    margin-right: 0px;
}
.fbox h3 {
    color: #BEDBE2;
    padding: 30px 0px;
    cursor: default;
}

.fbox p {
    color: #b3b3b3;

}

.ficons {
    margin-top: -20px;
}

.ficons i {
    margin-right: 24px;
    cursor: pointer;
    color: #ababab;
}
.fLefticons {
    width: 31px;
    color: #fb5200;
    float: left;
    height: 46px;
    position: cen;
    margin-top: 8px;
}

.usefullinks ul li a {
     color: #b3b3b3;
    text-decoration: none;
    border: none;
	transition:.3s
    
}
.usefullinks ul li :hover{
	color:#fb5200
	
}

.usefullinks ul {
    list-style: none;
    line-height: 43px;
	
}

.usefullinks ul li {
    border-bottom: 1px solid #565555;
}
.usefullinks ul li a i {
    margin-right: 8px;
}
.RcentPostLEFT {
    width: 54px;
    height: 90px;
    display: block;
    float: left;
    overflow: hidden;
}

.RcentPostLEFT p {
}

.RcentPostLEFT h2 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
}

.RcentPostLEFT p {
    text-align: center;
    color: white;
    font-size: 1px;
    font-weight: 400;
}

.RcentPostLEFT {
    margin-right: 20px;
    background: #3c3c3c;
    border-radius: 5px;
    padding: 4px 4px;
    margin-bottom: 32px;
}

.RcentPostRIGHT {
    float: right;
    width: 160px;
    padding: 2px 2px;
    display: block;
    overflow: hidden;
    margin-bottom: 50px;

}

.RcentPostRIGHT h4 {
    width: 216px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #d9d9d9;
    transition: .3s;
    cursor: pointer;
}

.RcentPostRIGHT a {
    color: #ababab;
    font-size: 7px;
}

.RcentPostRIGHT h4:hover {
    color: #fb5200;
}
.SingleFicons:nth-child(2) {
    margin: -28px 0px;
}
.subscribeWraper {
    background: #fb5200;
    color: white;
    padding: 30px 40px 0px;
    overflow: hidden;
}


.SingleSubbox {
    width: 297px;
    float: left;
    margin-right: 25px;
}



.subscribnow h2 {
    font-size: 20px;
    font-weight: 600;
}

.inputboxes input:first-child {
    padding: 16px 34px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
	cursor: pointer;
}

.SingleSubbox:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
.subscribnow p {
    color: white;
}.subscribnow {}

.followsociallink i {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    font-size: 30px;
    place-items: center;
    display: grid;
    float: left;
    margin-right: 21px;
    border-radius: 50%;
    color: white!important;
    cursor: pointer;
    transition: .3s;
}

.followsociallink i:hover {
    background: white;
    color: black !important;
}

input#submit {
    padding: 14px 0px;
    place-content: center;
	display: grid;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    background: black;
    color: white;
    border-radius: 50px;
    width: 115px;
    position: relative;
    left: 163px;
    top: -50px;
	cursor: pointer;
}
section#subscribe {
    position: relative;
    margin-bottom: -367px;
}
header#topbar {
    width: 100%;
    height: auto;
    display: inline-block;
}
ul.submenu {
    list-style: none;
    width: 260px;
    height: auto;
    position: absolute;
    background: white;
    border-top: 1px solid #b1b1b1;
    margin-top: 9px;
    column-count: 1!important;
    transform-origin: center top;
    transform: scaleY(0);
    visibility: hidden;
    transition: 0.3s;
    overflow: hidden;
}

ul.mainmenuitem li:hover ul.submenu{
	transform: scaleY(1.1);
    visibility: visible; 
	
}

ul.submenu li a:before {
    content: "";
    width: 0px;
    background: #fb5200;
    position: absolute;
    top: 49px;
	visibility:hidden;
    left: -4px;
    height: 3px;
    vertical-align: middle;
	transition:.6s
}
ul.submenu li:hover a:before{
	width: 20px;
	visibility:visible;
}

ul.submenu li {
    float: none;
    width: 200px;
    height: 60px;
}

ul.submenu li a {
    font-family: 'Work Sans';
    color: #000000;
    font-weight: 600;
    font-size: 17px;
    width: 258px;
    margin: -20px -40px;
    position: relative;
    transition:1.1s;
}
ul.submenu li a:hover {
    margin: -20px 0px;
}
i.fa.fa-angle-down {
    margin-left: 5px;
}